In [1]:
import pandas as pd
import csv

In [9]:
df=pd.read_csv("w.gene.csv",header = 0)
df.drop(index=0,inplace=True)
spes=['NCBI-021', 'NCBI-018', 'APP-023', 'NCBI-012','PAS-001', 'PAS-020', 'B10K-DU-002-22', 'PAS-017', 'PAS-018', 'PAS-019','APP-016', 'GAL-008', 'ANS-002']
df['0']=df['0'].str.upper()
df

,0,0.1,0.2,NCBI-021,NCBI-018,APP-023,NCBI-012,PAS-001,PAS-020,B10K-DU-002-22,PAS-017,PAS-018,PAS-019,APP-016,GAL-008,ANS-002
1,ZNF532,1,S3,-,-,-,-,-,-,-,-,-,-,-,107055424,NaN
2,NEDD4L,2,S3,-,-,-,-,-,-,-,-,-,-,-,107055429,NaN
3,ST8SIA3,3,S3,-,-,-,-,-,-,-,-,-,-,-,776262,NaN
4,TXNL1,4,S3,-,-,-,-,-,-,-,-,-,-,-,107049482,NaN
5,TCF4,5,S3,-,-,-,-,-,-,-,-,-,-,-,tcf4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,KCMF1,76,S0,reannotated,103824839,102042603,kcmf1,evm.model.scaffold21396.1,rubra_00016811-RA,raggiana_00017627-RA,magnifucus_00016180-RA,regius_00016415-RA,lawesii_00016585-RA lawesii_00016584-RA,103625222,431003,ENSAPLP00000013251-D2
77,RFX3,77,S0,IV00_00053204,103824681,102040691,rfx3,evm.model.scaffold19635.1,-,-,magnifucus_00016283-RA magnifucus_00016461-RA,regius_00016595-RA regius_00016531-RA,lawesii_00016698-RA lawesii_00016684-RA,103618999,-,ENSGALP00000016529-D2
78,SLC25A51,78,S0,-,-,102045663,slc25a51,evm.model.scaffold14574.1,rubra_00017553-RA,raggiana_00018880-RA,magnifucus_00016862-RA,regius_00017074-RA,lawesii_00017321-RA,-,-,NaN
79,PCGF3,79,S0,-,-,-,-,-,-,-,magnifucus_00016203-RA,regius_00016409-RA,-,103625245,-,NaN
80,RNF38,80,S0,-,-,-,rnf38,-,-,-,magnifucus_00016405-RA,regius_00016380-RA,lawesii_00016401-RA,-,-,ENSP00000259605-D1

In [10]:

edict={'bid':[],'gname':[],'gid':[]}
c=pd.DataFrame(edict)
for i in spes:
    dft=df.loc[df[i]!='-']
    for k,row in dft.iterrows():
        gname=dft.loc[k,'0']
        gid=dft.loc[k,i]
        c.loc[len(c)]={'bid':i,'gname':gname,'gid':gid}

In [14]:
c.dropna(axis=0,how='any',inplace=True)
c.to_csv('add_verified2.csv',index=False)

In [13]:
df_se

,0,1,2,3,4,5,6,7
0,ACC-004,CATAUR_R12538,80,LETMD1,80,LOC107049895,0,NaN
15,DNAZ-005,NANBRA_R12844,99,LOC116806871,99,LOC769000,99,SMAD2
23,DNAZ-005,NANBRA_R10214,100,LOC100219442,68,PLIN3,0,NaN
30,DNAZ-005,NANBRA_R04722,0,NaN,100,LRG1,0,NaN
31,DNAZ-005,NANBRA_R04721,77,LOC115490840,82,PLIN5,0,NaN
...,...,...,...,...,...,...,...,...
5054,SPH-019,SPHME_R01682,100,LOC116806864,99,HNRNPKL,90,HNRNPK
5060,SPH-019,SPHME_R13422,100,CHD1W,100,LOC374195,100,CHD1
5064,SPH-019,SPHME_R03045,85,LOC116806909,85,SPIN1L,85,SPIN1
5072,SPH-019,SPHME_R12010,81,LOC115491050,80,TROJANZ,0,NaN
5088,SPH-019,SPHME_R03693,99,LOC105760853,100,MYO3AL,0,NaN